name: Agentune Integration tests
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  llm-integration:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.6"
          cache: 'pip'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: "2.0.1"
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        run: |
          cd agentune
          poetry install --sync --no-interaction

      - name: Run tests
        run: |
          cd agentune
          poetry run python -m pytest -m integration


          
          

