name: Publish agentune to PyPI

on:
  push:
    tags:
      - 'agentune-v*'

jobs:
  test:
    uses: ./.github/workflows/python-tests.yml
    with:
      src_path: "."


  build:
    needs: test
    uses: ./.github/workflows/build.yml
    with:
      src_path: "."
      tag_ref: "agentune-v"


  publish:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/p/agentune
    permissions:
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: dist-files
        path: dist/
    
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        print-hash: true