name: Publish agentune to PyPI

on:
  workflow_dispatch:

jobs:
#  test:
#    uses: ./.github/workflows/python-tests.yml
#    with:
#      src_path: "."


  build:
#    needs: test
    uses: ./.github/workflows/build.yml
    with:
      src_path: "."
#      tag_ref: "agentune-v"


  publish:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: dist-files
        path: dist/
    
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        print-hash: true